body{

    background-color : #0b044d;
}

.color-basic,a.nav-link{

    color:#a78b10;
    
}

.bg-basic{

    background-color : #f1c80f;
}
.navigation {
    width: 300px;
}

.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mainmenu a {
    display: block;
    background-color: #0b2f35;
    text-decoration: none;
    padding: 10px;
    color: #fff;
}

    .mainmenu a:hover {
        background-color: #523f0a;
    }


.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}

#ShowProducts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
   
}